---
import Layout from '../layouts/Layout.astro';
import Scene3D from '../components/Scene3D.astro';
import UserInterface from '../components/userInterface.astro';
---

<Layout title="3D Environment">
	<main>
		<Scene3D />
		<UserInterface />
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 100vh;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
</style>