---
---

<div class="title-container">
    <h1>User Interface</h1>
</div>

<div class="info-container">
    <span>This collection features a series of experimental programs I've created while learning and mastering ThreeJS for 3D web development.</span>
</div>

<style>
    .title-container {
        position: absolute;
        top: 2rem;
        left: 3rem;
        z-index: 100;
    }
    .info-container {
        position: absolute;
        bottom: 2rem;
        right: 3rem;
        z-index: 100;
    }
</style>